@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: fixed;
  left: 0;
  top: 30px;
  right: 0;
  z-index: 10;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    text-transform: uppercase;
    line-height: 17px;
    font-size: 15px;
    @extend %ubuntu-medium;
  }
  &__btn {
    color: #fff;
    background-color: transparent;
    padding: 6px 28px;
    border: 1px solid #fff;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    @extend %ubuntu-regular;
    transition: all 0.3s;
    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
  &__phone {
    font-size: 16px;
    line-height: 18px;
    margin-left: 8px;
    @extend %ubuntu-bold;
  }
}

.menu {
  &__list-item {
    display: inline-block;
    & + .menu__list-item {
      padding-left: 20px;
    }
    &.active a {
      color: #bfbfbf;
    }
  }
  &__list-phone {
    display: none;
  }
  &__btn {
    display: none;
  }
}

.top {
  background-image: url("../images/bg-top.jpg");
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
      45.97% 54.43% at 50% 45.57%,
      rgba(23, 26, 28, 0) 50.28%,
      rgba(23, 26, 28, 0.00225974) 50.29%,
      rgba(4, 5, 5, 0.820343) 58.72%,
      rgba(5, 5, 6, 0.792703) 80.08%,
      #000000 87.89%
    );
    opacity: 0.4;
  }
  &__wrapper {
    display: flex;
    align-items: flex-end;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  &__title {
    font-size: 96px;
    line-height: 115px;
    @extend %sf-semibold;
    margin-bottom: 25px;
  }
  &__text {
    margin: 25px 0 35px;
    max-width: 325px;
    line-height: 25px;
  }
  &__social-list {
    margin-bottom: 13px;
  }
  &__social-item {
    display: inline-block;
    margin: 0 25px;
  }
  &__social-link {
    opacity: 0.5;
    transition: all 0.3s;
    &:hover {
      opacity: 5;
    }
  }
}

.products {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
  }
  &__text {
    max-width: 440px;
    p {
      margin-bottom: 30px;
    }
  }
  &__slider-box {
    position: relative;
    padding-top: 110px;
  }
  &__slider-text {
    width: 285px;
    position: absolute;
    text-align: right;
    font-size: 24px;
    line-height: 28px;
    @extend %ubuntu-medium;
    bottom: 30px;
    left: -250px;
    z-index: 5;
  }
  &__slider {
    max-width: 560px;
    &::before {
      content: "";
      position: absolute;
      width: 560px;
      height: 276px;
      border: 4px solid #fff;
      top: -15px;
      right: -17px;
    }
  }
}

.slider-btn {
  padding: 16px 26px;
  border: none;
  background-color: #fff;
  position: absolute;
  bottom: -47px;
  right: 0;
  cursor: pointer;
  z-index: 5;
  svg {
    stroke: #000;
  }
  &__left {
    right: 60px;
    z-index: 5;
  }
  &.slick-disabled {
    background-color: #000;
    svg {
      stroke: #fff;
    }
  }
}

.benefits {
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 25px;
  }
  &__item {
    margin-bottom: 100px;
    display: flex;
    align-items: flex-end;
    &:nth-child(even) {
      transform: translateY(15px);
    }
    &:first-child,
    &:nth-child(3) {
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }
    &:first-child {
      &::before {
        background-image: url(../images/line-1.svg);
        height: 48px;
        width: 245px;
        right: -70px;
        top: 31px;
      }
    }
    &:nth-child(2) {
      margin-right: 30px;
    }
    &:nth-child(3) {
      margin-left: 30px;
      margin-bottom: 80px;
      &::before {
        background-image: url(../images/line-3.svg);
        height: 43px;
        width: 254px;
        right: -80px;
        top: 52px;
      }
      &::after {
        background-image: url(../images/line-2.svg);
        height: 62px;
        width: 463px;
        right: -42px;
        top: -77px;
      }
    }
    &:nth-child(4) {
      margin-bottom: 70px;
      margin-left: 60px;
    }
  }
  &__num {
    font-size: 36px;
    line-height: 41px;
    margin-right: 10px;
    @extend %ubuntu-bold;
  }
  &__img {
    position: relative;
    margin-right: 32px;
    &::before {
      content: "";
      position: absolute;
      width: 193px;
      height: 128px;
      border: 2px solid #fff;
      right: -12px;
      top: -12px;
      z-index: -1;
    }
  }
  &__info {
    width: 300px;
  }
  &__info-title {
    width: 120px;
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 10px;
    @extend %ubuntu-bold;
  }
  &__info-text {
    width: 300px;
    font-size: 15px;
    line-height: 19px;
    @extend %ubuntu-light;
  }
}

.specification {
  &__inner {
    background-image: url("../images/mavic.png");
    background-repeat: no-repeat;
    background-position: 295px 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 55px;
    // padding-right: 55px;
  }
  &__box {
    width: 280px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
  &__box-2 {
    margin-top: 140px;
  }
  &__box-4 {
    margin-top: 160px;
  }
  &__box-1::before {
    background-image: url("../images/pointer-1.svg");
    width: 230px;
    height: 115px;
    right: -142px;
    top: 15px;
  }
  &__box-2::before {
    background-image: url("../images/pointer-2.svg");
    width: 347px;
    height: 82px;
    right: -275px;
    bottom: 96px;
  }
  &__box-3::before {
    background-image: url("../images/pointer-3.svg");
    width: 259px;
    height: 104px;
    right: 296px;
    top: 11px;
  }
  &__box-4::before {
    background-image: url("../images/pointer-4.svg");
    width: 125px;
    height: 90px;
    right: 296px;
    bottom: 115px;
  }
  &__box-title {
    @extend %ubuntu-bold;
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  &__box-text {
    @extend %ubuntu-light;
    font-size: 15px;
    line-height: 19px;
  }
}

.questions {
  &__items {
    width: 757px;
    margin-left: 30px;
    padding-bottom: 15px;
  }
  &__item {
    max-width: 690px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    &:nth-child(3)::before {
      content: "";
      position: absolute;
      width: 319px;
      height: 125px;
      top: -33px;
      right: -390px;
      background-image: url("../images/bg-questions.png");
    }
  }
  &__item-title {
    padding: 20px 10px 24px 40px;
    font-size: 21px;
    line-height: 28px;
    color: rgba(#fff, 0.8);
    @extend %ubuntu-medium;
    position: relative;
    cursor: pointer;
    &::after {
      content: url("../images/accordion-arrow.svg");
      width: 72px;
      height: 72px;
      background-color: #fff;
      position: absolute;
      right: -72px;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__item-text {
    padding: 0 5px 75px 50px;
    font-size: 15px;
    line-height: 22px;
    @extend %ubuntu-light;
    display: none;
  }
  &__item.questions__item--active {
    .questions__item-title::after {
      transform: rotate(180deg);
    }
    .questions__item-text {
      display: block;
    }
  }
}

.contacts {
  &__inner {
    display: flex;
    padding-left: 50px;
  }
  &__info {
    width: 240px;
    margin-right: 60px;
  }
  &__info-box {
    margin-bottom: 30px;
  }
  &__info-title {
    margin-bottom: 13px;
    font-size: 21px;
    line-height: 24px;
    @extend %ubuntu-bold;
  }
  &__info-phone,
  &__info-email {
    font-size: 15px;
    line-height: 19px;
  }
  &__info-email:hover {
    text-decoration: underline;
  }
  &__form {
    width: 570px;
    margin-right: 106px;
  }
  &__form-title {
    margin-bottom: 13px;
  }
  &__form-text {
    margin-bottom: 13px;
    font-size: 15px;
    line-height: 19px;
  }
  &__form-line {
    display: flex;
    justify-content: space-between;
  }
  &__form-input {
    width: 49%;
    margin-bottom: 10px;
  }
  &__form-textarea {
    width: 570px;
    min-height: 144px;
    margin-bottom: 20px;
    resize: none;
  }
  &__form-input,
  &__form-textarea {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 15px;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    appearance: none;
    border-radius: none;
    @extend %ubuntu-regular;
    &::placeholder {
      color: rgba(#fff, 0.4);
    }
  }
  &__form-btn {
    color: #fff;
    background-color: transparent;
    padding: 9px 15px;
    border: 1px solid #fff;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.03em;
    @extend %ubuntu-bold;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
  &__social-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__social-item {
    margin: 14px 0;
  }
  &__social-link {
    opacity: 0.5;
    transition: all 0.3s;
    &:hover {
      opacity: 5;
    }
  }
}
.footer {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  &__copy {
    text-align: right;
    font-size: 13px;
    line-height: 17px;
    color: rgba(#fff, 0.64);
  }
}

@import "media";
