<app-navbar></app-navbar>
<main class="main">
  <section class="page-section promo mb-80">
    <div class="container">
      <div class="promo__slider br24-p60">
        <p class="promo__slider-suptitle fs-24">Dont just take our word for it!</p>
        <h1 class="promo__slider-title fs-48">Read librarian reviews of the R2 Digital Library</h1>
        <button class="promo__slider-btn red">go to the reviews section</button>
        <button class="promo__slider-arrow-right slider-arrow-right">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24" fill="#D0021B">
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
          </svg>
        </button>
        <button class="promo__slider-arrow-left slider-arrow-left">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24" fill="#D0021B">
            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
          </svg>
        </button>
      </div>
      <div class="promo__box">
        <div class="promo__trial br24-p60">
          <h2 class="promo__trial-title">Welcome to the R2 Digital Library</h2>
          <p class="promo__trial-text fs-18">The best selection of constantly updated, Health Sciences focused, cross-referenced eContent. Featuring thousands of resources from the leading health sciences publishers—and growing every day.</p>
          <button class="promo__trial-btn green">Start a free 30-day trial</button>
        </div>
        <div class="promo__demo br24-p60">
          <h2 class="promo__demo-title">Watch a quick demo of the R2 Digital Library in action</h2>
          <p class="promo__demo-text fs-18">You'll see how the new version of the R2 Digital Library is a powerful eBook solution for your institution.</p>
          <div class="promo__demo-video">
            <img class="promo__demo-video-img" src="../assets/images/video-poster.JPG" alt="">
            <div class="promo__demo-btn-box">
              <button class="promo__demo-btn">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24" fill="#D10014">
                  <path d="M8,5.14V19.14L19,12.14L8,5.14Z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /container -->
  </section>
  <!-- /promo -->
  <section class="page-section added mb-80">
    <div class="container">
      <h2 class="added__title fs-72">Recently added</h2>
      <div class="added__slider-wrapper">
        <button class="added__slider-arrow-left slider-arrow-left">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24" fill="#D0021B">
            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
          </svg>
        </button>
        <div class="added__slider-box slider-box">
          <div class="slider-card">
            <div class="slider-card-inner">
              <img class="slider-card-img" src="../assets/images/SEPSIS.jpg" alt="Sepsis Management" >
            </div>
            <p class="slider-text">Sepsis Management in Resource-limited Settings</p> 
          </div>
          <div class="slider-card">
            <div class="slider-card-inner">
              <img class="slider-card-img" src="../assets/images/TUBERCULOSIS.jpg" alt="Tuberculosis in Adul" >
            </div>
            <p class="slider-text">Tuberculosis in Adults and Children</p> 
          </div>
          <div class="slider-card">
            <div class="slider-card-inner">
              <img class="slider-card-img" src="../assets/images/red_book.jpg" alt="Red Book" >
            </div>
            <p class="slider-text">Red Book Atlas of Pediatric Infectious Diseases</p> 
          </div>
          <div class="slider-card">
            <div class="slider-card-inner">
              <img class="slider-card-img" src="../assets/images/MANDELL.jpg" alt="Mandell, Douglas, and Bennett's" >
            </div>
            <p class="slider-text">Mandell, Douglas, and Bennett's Principles and Practice of…</p> 
          </div>
        </div>
        <button class="added__slider-arrow-right slider-arrow-right">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24" fill="#D0021B">
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
          </svg>
        </button>
      </div>
      <!-- /added__slider-wrapper -->
    </div>
    <!-- /container -->
  </section>
  <!-- /added -->
  <section class="page-section community mb-80">
    <div class="container">
      <div class="community__inner br24-p60">
        <h3 class="community__title fs-48">Expand Your Library Beyond eBooks...</h3>
        <div class="community__text-wrapper">
          <p class="community__text fs-18">The R2 Digital Library is a web based database available from Rittenhouse Book Distributors. It offers fully integrated and searchable medical, nursing and allied health source book content from key health science publishers, on a web based platform.</p>
          <button class="community__btn green">See full list of titles</button>
        </div>
      </div>
      <div class="community__box">
        <div class="community__card br24-p60">
          <div class="community__card-icon">
            <img src="../assets/images/icon/account-plus.svg" alt="">
          </div>
          <p class="community__card-text fs-18">Connect your users with essential health sciences content from the leading publishers - on a platform designed to enhance it</p>
        </div>
        <!-- /community__card -->
        <div class="community__card br24-p60">
          <div class="community__card-icon">
            <img src="../assets/images/icon/api.svg" alt="">
          </div>
          <p class="community__card-text fs-18">Explore consortia, patron driven Acquisition and turnkey collection development solutions</p>
        </div>
        <!-- /community__card -->
        <div class="community__card br24-p60">
          <div class="community__card-icon">
            <img src="../assets/images/icon/layers.svg" alt="">
          </div>
          <p class="community__card-text fs-18">Select resources at the title level and pay once for life of edition access</p>
        </div>
        <!-- /community__card -->
        <div class="community__card br24-p60">
          <div class="community__card-icon">
            <img src="../assets/images/icon/library.svg" alt="">
          </div>
          <p class="community__card-text fs-18">Incorporate workflow, integration and collaboration tools designed for the contemporary library</p>
        </div>
        <!-- /community__card -->
      </div>
      <!-- /community__box -->
    </div>
    <!-- /container -->
  </section>
  <!-- /community -->
  <section class="page-section popular mb-80">
    <div class="container">
      <h3 class="popular__title fs-72">Most popular</h3>
      <div class="popular__slider-wrapper slider-wrapper">
        <button class="popular__slider-arrow-left slider-arrow-left">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24" fill="#D0021B">
            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
          </svg>
        </button>
        <div class="popular__slider-box slider-box">
          <div class="slider-card">
            <div class="slider-card-inner">
              <img class="slider-card-img" src="../assets/images/SEPSIS.jpg" alt="Sepsis Management" >
            </div>
            <a class="slider-link">Sepsis Management in Resource-limited Settings</a> 
          </div>
          <div class="slider-card">
            <div class="slider-card-inner">
              <img class="slider-card-img" src="../assets/images/TUBERCULOSIS.jpg" alt="Tuberculosis in Adul" >
            </div>
            <a class="slider-link">Tuberculosis in Adults and Children</a> 
          </div>
          <div class="slider-card">
            <div class="slider-card-inner">
              <img class="slider-card-img" src="../assets/images/red_book.jpg" alt="Red Book" >
            </div>
            <a class="slider-link">Red Book Atlas of Pediatric Infectious Diseases</a> 
          </div>
          <div class="slider-card">
            <div class="slider-card-inner">
              <img class="slider-card-img" src="../assets/images/MANDELL.jpg" alt="Mandell, Douglas, and Bennett's" >
            </div>
            <a class="slider-link">Mandell, Douglas, and Bennett's Principles and Practice of…</a> 
          </div>
        </div>
        <button class="popular__slider-arrow-right slider-arrow-right">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24" fill="#D0021B">
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
          </svg>
        </button>
      </div>
      <!-- /popular__slider-wrapper -->
      <div class="popular__content-wrapper br24-p60">
        <div class="popular__content">
          <p class="popular__content-suptitle fs-24">Featured publisher</p>
          <h3 class="popular__content-title fs-48">Health Administration Press</h3>
          <button class="popular__content-btn red">See full list of titles</button>
        </div>
        <!-- /popular__content -->
        <div class="popular__content-img">
          <img src="../assets/images/The_heart_of.jpg" alt="The heart of">
        </div>
        <!-- /popular__content-img -->
      </div>
      <!-- /popular__content-wrapper -->
    </div>
    <!-- /container -->
  </section>
  <!-- /popular -->
  <section class="page-section benefits mb-80">
    <div class="container">
      <div class="benefits__wrapper">
        <div class="benefits__help-box br24-p60">
          <h3 class="benefits__help-title fs-48">Benefits of eContent and the R2 Digital Library</h3>
          <p class="benefits__help-text fs-18">If you’ve been thinking of including digital content into your library collection, but haven’t yet made the switch, here are answers to some very common questions about the benefits of using eContent and the R2 Digital Library as your platform.</p>
          <button class="benefits__help-btn green">visit our help section</button>
        </div>
        <div class="benefits__titles-inner">
          <div class="benefits__titles-box br24-p60">
            <h3 class="benefits__titles-title fs-48">Does the R2 Library have the Titles I need?</h3>
            <p class="benefits__titles-text fs-18">We have thousands of resources from the leading health sciences publishers, so chances are, the answer is yes. To be sure, use the search function at the top of the page to access a listing of active R2 titles.</p>
          </div>
          <a class="benefits__contacts-link" href="#">
            <img src="../assets/images/icon/help.svg" alt="help">
            <p class="benefits__contacts-text fs-18">1.800.345.6425 X601 / info@r2library.com</p>
          </a>
        </div>
        <!-- /benefits__box -->
      </div>
      <!-- /benefits__wrapper -->
    </div>
    <!-- /container -->
  </section>
  <!-- /benefits -->
</main>
<app-footer></app-footer>












