<!-- 
<div ng2-carouselamos>
    [items]="items"
    [width]="900"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
</div>
<ng-template #prev>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24" fill="#D0021B">
        <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
    </svg>
</ng-template>
<ng-template #item let-item let-i="index">
    <div class="items">
        <img class="slider-card-img" src="{{ item.src }}">
        <p class="slider-text">{{ item.title }}</p> 
    </div>
</ng-template>


<ng-template #next>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24" fill="#D0021B">
        <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
    </svg>
</ng-template> -->